@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
:root {
  --vp-font-family-base: 'Raleway', sans-serif;
  --vp-font-family-mono: 'Raleway', monospace;
}
.dark {
  --vp-c-bg: #000000;
  --vp-c-bg-alt: #111111;
  --vp-c-bg-elv: #1a1a1a;
  --vp-c-bg-soft: #0f0f0f;
  --vp-c-border: #333333;
  --vp-c-divider: #2a2a2a;
  --vp-c-gutter: #1a1a1a;
  
  --vp-c-brand-1: #ff6200;
  --vp-c-brand-2: #ff7a26;
  --vp-c-brand-3: #ff924d;
  --vp-c-brand-soft: rgba(255, 98, 0, 0.16);
  
  --vp-button-brand-border: #ff6200;
  --vp-button-brand-text: #ffffff;
  --vp-button-brand-bg: #ff6200;
  --vp-button-brand-hover-border: #ff7a26;
  --vp-button-brand-hover-text: #ffffff;
  --vp-button-brand-hover-bg: #ff7a26;
  
  --vp-c-text-1: #ffffff;
  --vp-c-text-2: #e0e0e0;
  --vp-c-text-3: #c0c0c0;
  
  --vp-nav-bg-color: #000000;
  --vp-sidebar-bg-color: #000000;
}
* {
  font-family: 'Raleway', sans-serif !important;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
h1, h2, h3, h4, h5, h6,
.VPNavBarTitle,
.VPHero .name,
.VPHero .text,
.VPHero .tagline {
  font-family: 'Raleway', sans-serif !important;
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
.VPDoc .content,
.VPContent,
p, span, div, a, li {
  font-family: 'Raleway', sans-serif !important;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
}
.VPHero {
  position: relative;
  min-height: 500px;
}
.VPHero .container {
  position: relative;
  background-image: url('/hero.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: local;
  min-height: 500px;
  display: flex;
  align-items: center;
}
.VPHero .main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 400px;
}
@media (max-width: 768px) {
  .VPHero {
    min-height: 400px;
  }
  .VPHero .container {
    min-height: 400px;
    background-size: contain;
    background-position: center bottom;
  }
  .VPHero .main {
    padding-right: 0;
    padding-bottom: 200px;
  }
}
